.section--no-padding-bottom {
  padding-bottom: 0;
}

.advantage {
  display: flex;
}

.advantage__item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.advantage__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}
.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $color-headline;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $color-text;
}
